<br>
<div class="container">
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Donate Books</h5>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="donateBooks()">Donate Now</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Donate Money</h5>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="donateBooks()">Donate Money</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Donate Clothes</h5>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="donateBooks()">Donate Clothes</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Donate grocery</h5>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="donateBooks()">Donate Grocery</button>
    </div>
  </div>
</div>