<form #loginForm="ngForm">
    <div style="background-color: gray;height: 100vh;">
        <div class="row shadow" style='display:flex; position:absolute; top:0; bottom:0; right:0; left:0;
        background-color: white'>
            <div class="col-md-6">
                <div style="height: 97vh;display:flex; position:absolute; top:0; bottom:0; right:0; left:0; ">
                    <div id='div_you_want_centered' style='margin:auto;'>
                        <!-- <img src="assets/images/avatar.png"> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="height: 97vh;display:flex; position:absolute; top:0; bottom:0; right:0; left:0; ">
                    <div style='margin:auto;width: 70%;'>
                        <div class="form-group">
                            <label> Login as</label>
                            <select [(ngModel)]="type" name="type" class="form-control">
                                <option value="0">--Select--</option>
                                <option value="1">Admin</option>
                                <option value="2">Donor</option>
                                <option value="3">Orphan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label> Email ID</label>
                            <input required type="text" class="form-control" [(ngModel)]="email" name="em">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input required type="password" class="form-control" [(ngModel)]="password" name="pass">
                        </div>
                        <div>
                            <button class="btn btn-danger" (click)="login()" [disabled]="!loginForm.valid || type == '0'">
                                Login</button>
                            &nbsp;&nbsp;<a routerLink="/register" style="color:blue;cursor: pointer;"> New Donor/Orphan ?
                                Register
                                here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6">
            <div style="background-color: blue;;height: 97vh;display:flex; position:absolute; top:0; bottom:0; right:0; left:0; ">
                <div id='div_you_want_centered' style='margin:auto;'>
                    <img src="assets/images/avatar.png">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="height: 97vh;display:flex; position:absolute; top:0; bottom:0; right:0; left:0; ">
                <div id='div_you_want_centered' class="container" style="margin:auto;width: 90%;">
                    <div class="form-group">
                        <label> Login as</label>
                        <select [(ngModel)]="type" name="type" class="form-control">
                            <option value="0">--Select--</option>
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label> Email ID</label>
                        <input required type="text" class="form-control" [(ngModel)]="email" name="em">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input required type="password" class="form-control" [(ngModel)]="password" name="pass">
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="login()" [disabled]="!loginForm.valid || type == '0'">
                            Login</button>
                        &nbsp;&nbsp;<a routerLink="/register" style="color:blue;cursor: pointer;"> New User ? Register here</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</form>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait... </p>
</ngx-spinner>