<div *ngIf="donation.length > 0">
    <!-- <h3 style="text-align:center"> Transaction History</h3> -->
    <br>
    <br>
    <table class="table table-striped" style="text-align: center">
        <thead>
            <!-- <th>ID</th> -->
            <th>Donation Name</th>
            <th>Active</th>
        </thead>
        <tfoot>
            <th colspan="3" style="text-align:end">
                <button type="button" class="btn btn-primary" (click)="submit()">
                    Submit
                </button>
            </th>
        </tfoot>
        <tbody>
            <tr *ngFor="let d of donation;let i = index">
                <!-- <td>{{d.ManageDonationID}}</td> -->
                <td>{{d.DonationName}}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="d.Flag" name="Flag-{{i}}" #Flag="ngModel" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>